body{
  min-height: 100vh;
  background: linear-gradient(green, blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 6px black;
}
